<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>net</string>
	</array>
	<key>Version</key>
	<string>1.0.9</string>
	<key>net</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>input_1</string>
			<string>input_0</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>output@output</string>
		</array>
		<key>Units</key>
		<array>
			<string>output</string>
		</array>
		<key>Weights</key>
		<array>
			<string>/private/var/folders/l8/38vj8bm52_gfgsqgdn__sh2w0000gn/T/tmp0yvkl2ux.mlmodelc/model.espresso.weights</string>
			<string>net.additional.weights</string>
		</array>
		<key>input_0</key>
		<dict>
			<key>InputChannels</key>
			<integer>16384</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputWidth</key>
			<integer>1</integer>

			<key>InputType</key>
			<string>Float16</string>
		</dict>
		<key>input_1</key>
		<dict>
			<key>InputChannels</key>
			<integer>16</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputWidth</key>
			<integer>1</integer>

			<key>InputType</key>
			<string>Float16</string>
		</dict>
		<key>output</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>input_0</string>
				<string>input_1</string>
			</array>
			<key>Name</key>
			<string>output</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Type</key>
			<string>Concat</string>
		</dict>
		<key>output@output</key>
		<dict>
			<key>Bottom</key>
			<string>output</string>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
	</dict>
</dict>
</plist>
