<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Networks</key>
  <array>
    <string>net</string>
  </array>
  <key>Version</key>
  <string>1.0.9</string>
  <key>net</key>
  <dict>
    <!-- This is a one layer network -->
    <key>Inputs</key>
    <array>
      <string>image</string>
    </array>
    <key>Units</key>
    <array>
      <string>my_layer</string>
    </array>
    <key>Outputs</key>
    <array>
      <string>probs@output</string>
    </array>

    <!-- Global array of weights -->
    <key>Weights</key>
    <array>
      <string>../min_uint8.weights</string>
    </array>

    <key>image</key>
    <dict>
      <!-- default is 1 -->
      <key>BatchSize</key>
      <integer>1</integer>

      <key>InputChannels</key>
      <integer>1</integer>
      <key>InputHeight</key>
      <integer>1</integer>
      <key>InputWidth</key>
      <integer>3</integer>

      <key>InputDepth</key>
      <integer>1</integer>

      <key>InputInterleave</key>
      <integer>1</integer>

      <key>InputBatchStride</key>
      <integer>256</integer>
      <key>InputDepthStride</key>
      <integer>256</integer>
      <key>InputPlaneStride</key>
      <integer>64</integer>
      <key>InputRowStride</key>
      <integer>64</integer>
      <key>InputType</key>
      <string>UInt8</string>
    </dict>

    <key>my_layer</key>
    <dict>
      <key>Bottom</key>
      <string>image</string>

      <key>Name</key>
      <string>my_layer</string>
      <key>OutputChannels</key>
      <integer>3</integer>
      <key>OutputType</key>
      <string>UInt8</string>

      <key>Params</key>
      <dict>
        <key>KernelHeight</key>
        <integer>1</integer>
        <key>KernelWidth</key>
        <integer>1</integer>

        <key>KernelDepth</key>
        <integer>1</integer>

        <key>PadTop</key>
        <integer>0</integer>
        <key>PadBot</key>
        <integer>0</integer>
        <key>PadLeft</key>
        <integer>0</integer>
        <key>PadRight</key>
        <integer>0</integer>

        <key>KernelIndex</key>
        <integer>0</integer>
        <key>KernelOffset</key>
        <integer>0</integer>
        <key>KernelType</key>
        <string>UInt8</string>

        <key>Step</key>
        <array>
          <integer>1</integer>
          <integer>1</integer>
        </array>
        <key>Type</key>
        <string>Conv</string>
      </dict>

      <key>Type</key>
      <string>Conv</string>
    </dict>

    <key>probs@output</key>
    <dict>
      <key>Bottom</key>
      <string>my_layer</string>

      <key>OutputInterleave</key>
      <integer>1</integer>

      <key>OutputBatchStride</key>
      <integer>256</integer>
      <key>OutputDepthStride</key>
      <integer>256</integer>
      <key>OutputPlaneStride</key>
      <integer>64</integer>
      <key>OutputRowStride</key>
      <integer>64</integer>
    </dict>

  </dict>
</dict>
</plist>
