.cache/
/build/
.mypy_cache/
*.pyc
*.os
*.o
*.so
*.a
*.tmp
*.dylib
.*.swp
.DS_Store
.sconsign.dblite
.hypothesis
*.egg-info/
*.html
*.gcda
*.gcno
*.dump
*.gcov
uv.lock
/dist/
.vscode/
__pycache__/
mull.yml
*.profraw

opendbc/can/build/
opendbc/can/obj/
opendbc/dbc/*_generated.dbc

cppcheck-addon-ctu-file-list
opendbc/safety/tests/coverage-out

compile_commands.json
