.cache/
/build/
*.pyc
*.os
*.o
*.so
*.a
*.tmp
*.dylib
.*.swp
.DS_Store
.hypothesis
*.egg-info/
*.html
*.gcda
*.gcno
*.dump
*.gcov
/dist/
.vscode/
__pycache__/
*.profraw
opendbc/can/build/
opendbc/can/obj/
opendbc/dbc/*_generated.dbc

cppcheck-addon-ctu-file-list
opendbc/safety/tests/coverage-out

.mull/
