<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>net</string>
	</array>
	<key>Version</key>
	<string>1.0.9</string>
	<key>net</key>
	<dict>
		<key>A</key>
		<dict>
			<key>BatchSize</key>
			<integer>7</integer>
			<key>InputBatchStride</key>
			<integer>64</integer>
			<key>InputChannels</key>
			<integer>1</integer>
			<key>InputDepth</key>
			<integer>1</integer>
			<key>InputDepthStride</key>
			<integer>448</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>64</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>1</integer>
		</dict>
		<key>A_broadcasted_output</key>
		<dict>
			<key>Bottom</key>
			<string>A</string>
			<key>Name</key>
			<string>A_broadcasted_output</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>BroadcastInfo</key>
				<array>
					<dict>
						<key>Dimension</key>
						<string>Width</string>
						<key>Size</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<key>Type</key>
			<string>Broadcast</string>
			<key>UnescapedBottom</key>
			<string>A</string>
			<key>UnescapedName</key>
			<string>A_broadcasted_output</string>
		</dict>
		<key>B</key>
		<dict>
			<key>BatchSize</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>1</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>64</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>2</integer>
		</dict>
		<key>B_broadcasted_output</key>
		<dict>
			<key>Bottom</key>
			<string>B</string>
			<key>Name</key>
			<string>B_broadcasted_output</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>BroadcastInfo</key>
				<array>
					<dict>
						<key>Dimension</key>
						<string>Depth</string>
						<key>Size</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Dimension</key>
						<string>Batch</string>
						<key>Size</key>
						<integer>7</integer>
					</dict>
					<dict>
						<key>Dimension</key>
						<string>Channel</string>
						<key>Size</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>Dimension</key>
						<string>Height</string>
						<key>Size</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>Type</key>
			<string>Broadcast</string>
			<key>UnescapedBottom</key>
			<string>B</string>
			<key>UnescapedName</key>
			<string>B_broadcasted_output</string>
		</dict>
		<key>Inputs</key>
		<array>
			<string>B</string>
			<string>A</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>output@output</string>
		</array>
		<key>Units</key>
		<array>
			<string>A_broadcasted_output</string>
			<string>B_broadcasted_output</string>
			<string>output</string>
		</array>
		<key>Weights</key>
		<array>
			<string>/private/var/folders/l8/38vj8bm52_gfgsqgdn__sh2w0000gn/T/tmpy5yeqxdi.mlmodelc/model.espresso.weights</string>
			<string>net.additional.weights</string>
		</array>
		<key>output</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>A_broadcasted_output</string>
				<string>B_broadcasted_output</string>
			</array>
			<key>Name</key>
			<string>output</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>Scale</key>
				<integer>15360</integer>
				<key>Type</key>
				<string>Min</string>
			</dict>
			<key>Type</key>
			<string>ScaledElementWise</string>
			<key>UnescapedBottom</key>
			<array>
				<string>A_broadcasted_output</string>
				<string>B_broadcasted_output</string>
			</array>
			<key>UnescapedName</key>
			<string>output</string>
		</dict>
		<key>output@output</key>
		<dict>
			<key>Bottom</key>
			<string>output</string>
			<key>OutputBatchStride</key>
			<integer>64</integer>
			<key>OutputDepthStride</key>
			<integer>448</integer>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>64</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
	</dict>
</dict>
</plist>
