<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>net</string>
	</array>
	<key>Version</key>
	<string>1.0.9</string>
	<key>net</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>data</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>out_2@output</string>
			<string>out_1@output</string>
			<string>out_0@output</string>
		</array>
		<key>Units</key>
		<array>
			<string>out_0</string>
			<string>out_1</string>
			<string>out_2</string>
		</array>
		<key>Weights</key>
		<array>
			<string>/private/var/folders/l8/38vj8bm52_gfgsqgdn__sh2w0000gn/T/tmp_c4fweo3.mlmodelc/model.espresso.weights</string>
			<string>net.additional.weights</string>
		</array>
		<key>data</key>
		<dict>
			<key>BatchSize</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>9</integer>
			<key>InputHeight</key>
			<integer>2</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>128</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>2</integer>
		</dict>
		<key>out_0</key>
		<dict>
			<key>Bottom</key>
			<string>data</string>
			<key>Name</key>
			<string>out_0</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>Dimension</key>
				<string>Channel</string>
				<key>Offset</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>InputView</string>
			<key>UnescapedBottom</key>
			<string>data</string>
			<key>UnescapedName</key>
			<string>out_0</string>
		</dict>
		<key>out_0@output</key>
		<dict>
			<key>Bottom</key>
			<string>out_0</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>128</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
		<key>out_1</key>
		<dict>
			<key>Bottom</key>
			<string>data</string>
			<key>Name</key>
			<string>out_1</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>Dimension</key>
				<string>Channel</string>
				<key>Offset</key>
				<integer>3</integer>
				<key>Size</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>InputView</string>
			<key>UnescapedBottom</key>
			<string>data</string>
			<key>UnescapedName</key>
			<string>out_1</string>
		</dict>
		<key>out_1@output</key>
		<dict>
			<key>Bottom</key>
			<string>out_1</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>128</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
		<key>out_2</key>
		<dict>
			<key>Bottom</key>
			<string>data</string>
			<key>Name</key>
			<string>out_2</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>Dimension</key>
				<string>Channel</string>
				<key>Offset</key>
				<integer>6</integer>
				<key>Size</key>
				<integer>3</integer>
			</dict>
			<key>Type</key>
			<string>InputView</string>
			<key>UnescapedBottom</key>
			<string>data</string>
			<key>UnescapedName</key>
			<string>out_2</string>
		</dict>
		<key>out_2@output</key>
		<dict>
			<key>Bottom</key>
			<string>out_2</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>128</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
	</dict>
</dict>
</plist>
