<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>net</string>
	</array>
	<key>Version</key>
	<string>1.0.9</string>
	<key>net</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>image2</string>
			<string>image</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>probs@output</string>
		</array>
		<key>Units</key>
		<array>
			<string>probs</string>
		</array>
		<key>Weights</key>
		<array>
			<string>/private/var/folders/l8/38vj8bm52_gfgsqgdn__sh2w0000gn/T/tmpkp9irqtj.mlmodelc/model.espresso.weights</string>
			<string>net.additional.weights</string>
		</array>
		<key>image</key>
		<dict>
			<key>BatchSize</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>64</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>64</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>1</integer>
		</dict>
		<key>image2</key>
		<dict>
			<key>BatchSize</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>64</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>64</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>1</integer>
		</dict>
		<key>probs</key>
		<dict>
			<key>Bottom</key>
			<array>
				<string>image</string>
				<string>image2</string>
			</array>
			<key>Name</key>
			<string>probs</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>Scale</key>
				<integer>15360</integer>
				<key>Type</key>
				<string>Add</string>
			</dict>
			<key>Type</key>
			<string>ScaledElementWise</string>
			<key>UnescapedBottom</key>
			<array>
				<string>image</string>
				<string>image2</string>
			</array>
			<key>UnescapedName</key>
			<string>probs</string>
		</dict>
		<key>probs@output</key>
		<dict>
			<key>Bottom</key>
			<string>probs</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>64</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
	</dict>
</dict>
</plist>
