rednose/helpers/ekf_sym.py filter=lfs diff=lfs merge=lfs -text
rednose/helpers/ekf_sym_pyx.cpp filter=lfs diff=lfs merge=lfs -text
rednose/helpers/ekf_sym_pyx.so filter=lfs diff=lfs merge=lfs -text
rednose/helpers/chi2_lookup_table.npy filter=lfs diff=lfs merge=lfs -text
docs/CARS.md filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/acados_ocp_solver.py filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/c_templates_tera/acados_sim_solver.in.c filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/c_templates_tera/acados_solver.in.c filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/c_templates_tera/acados_solver_sfun.in.c filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/acados_ocp.py filter=lfs diff=lfs merge=lfs -text
pyextra/acados_template/acados_ocp_solver_fast.py filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_Component.h filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_IVCommon.h filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_QCOMExtns.h filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_Core.h filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_Audio.h filter=lfs diff=lfs merge=lfs -text
third_party/openmax/include/OMX_Video.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libqpOASES_e.so.3.1 filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libhpipm.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libblasfeo.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/larch64/lib/libacados.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libqpOASES_e.so.3.1 filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libhpipm.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libblasfeo.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/x86_64/lib/libacados.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/qpOASES_e/QProblemB.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/qpOASES_e/MessageHandling.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/qpOASES_e/QProblem.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/blasfeo/include/blasfeo_s_blasfeo_api.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/blasfeo/include/blasfeo_d_kernel.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/blasfeo/include/blasfeo_d_blasfeo_ref_api.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/blasfeo/include/blasfeo_d_blasfeo_api.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/include/blasfeo/include/blasfeo_s_kernel.h filter=lfs diff=lfs merge=lfs -text
third_party/acados/aarch64/t_renderer filter=lfs diff=lfs merge=lfs -text
third_party/acados/aarch64/lib/libqpOASES_e.so.3.1 filter=lfs diff=lfs merge=lfs -text
third_party/acados/aarch64/lib/libhpipm.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/aarch64/lib/libblasfeo.so filter=lfs diff=lfs merge=lfs -text
third_party/acados/aarch64/lib/libacados.so filter=lfs diff=lfs merge=lfs -text
third_party/opencl/include/CL/cl_platform.h filter=lfs diff=lfs merge=lfs -text
third_party/opencl/include/CL/cl.h filter=lfs diff=lfs merge=lfs -text
third_party/bzip2/libbz2.a filter=lfs diff=lfs merge=lfs -text
third_party/zlib/lib/libz.a filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/larch64/lib/libyuv.a filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/include/libyuv/scale_row.h filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/include/libyuv/row.h filter=lfs diff=lfs merge=lfs -text
third_party/libyuv/lib/libyuv.a filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libsnpe_dsp_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libcalculator_domains_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libsnpe_dsp_v65_domains_v2_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libsnpe_dsp_v66_domains_v2_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libcalculator_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/dsp/libsnpe_dsp_domains_skel.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-linux-gcc4.9/libPlatformValidatorShared.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-linux-gcc4.9/libatomic.so.1 filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-linux-gcc4.9/libsymphony-cpu.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-linux-gcc4.9/libSNPE.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsnpe_dsp_domains_v2_system.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsnpe_dsp_domains_system.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libc++_shared.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libPlatformValidatorShared.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsnpe_dsp_domains_v2.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libSNPE_G.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsnpe_dsp_domains.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsnpe_adsp.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libsymphony-cpu.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libhta.so filter=lfs diff=lfs merge=lfs -text
third_party/snpe/aarch64-android-clang6.0/libSNPE.so filter=lfs diff=lfs merge=lfs -text
third_party/json11/json11.cpp filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/hwcomposer.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/keymaster_defs.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/fused_location.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/audio.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/sensors.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/bt_rc.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/camera_common.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/audio_effect.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/gps.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/camera2.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/keymaster1.h filter=lfs diff=lfs merge=lfs -text
third_party/android_hardware_libhardware/include/hardware/camera3.h filter=lfs diff=lfs merge=lfs -text
third_party/android_frameworks_native/include/android/configuration.h filter=lfs diff=lfs merge=lfs -text
third_party/android_frameworks_native/include/android/input.h filter=lfs diff=lfs merge=lfs -text
third_party/android_frameworks_native/include/android/keycodes.h filter=lfs diff=lfs merge=lfs -text
third_party/android_frameworks_native/include/gui/GLConsumer.h filter=lfs diff=lfs merge=lfs -text
third_party/android_frameworks_native/include/gui/IGraphicBufferProducer.h filter=lfs diff=lfs merge=lfs -text
third_party/qrcode/QrCode.hpp filter=lfs diff=lfs merge=lfs -text
third_party/qrcode/QrCode.cc filter=lfs diff=lfs merge=lfs -text
third_party/android_system_core/include/system/window.h filter=lfs diff=lfs merge=lfs -text
third_party/android_system_core/include/system/graphics.h filter=lfs diff=lfs merge=lfs -text
RELEASES.md filter=lfs diff=lfs merge=lfs -text
opendbc/toyota_tnga_k_pt_generated.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/tesla_radar.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/hyundai_kia_generic.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/mazda_2017.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/toyota_new_mc_pt_generated.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/tesla_can.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/can/packer_pyx.cpp filter=lfs diff=lfs merge=lfs -text
opendbc/can/packer_pyx.so filter=lfs diff=lfs merge=lfs -text
opendbc/can/libdbc.so filter=lfs diff=lfs merge=lfs -text
opendbc/can/parser_pyx.cpp filter=lfs diff=lfs merge=lfs -text
opendbc/can/parser_pyx.so filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_crv_executive_2016_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/toyota_nodsu_pt_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/gm_global_a_powertrain_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/tesla_radar.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_accord_2018_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_odyssey_exl_2018_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/chrysler_pacifica_2017_hybrid_private_fusion.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/acura_rdx_2018_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/acura_ilx_2016_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/subaru_outback_2015_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_odyssey_extreme_edition_2018_china_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/mazda_2017.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_crv_touring_2016_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/hyundai_kia_generic.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/toyota_tss2_adas.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_civic_hatchback_ex_2017_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/hyundai_kia_mando_front_radar.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/subaru_outback_2019_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/toyota_adas.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/gm_global_a_object.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/subaru_forester_2017_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/chrysler_pacifica_2017_hybrid.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_insight_ex_2019_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/toyota_new_mc_pt_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/nissan_leaf_2018.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/vw_mqb_2010.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/subaru_global_2017_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/acura_rdx_2020_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/toyota_tnga_k_pt_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/tesla_powertrain.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/ford_fusion_2018_adas.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_civic_touring_2016_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/nissan_x_trail_2017.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/tesla_can.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_crv_ex_2017_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/can/dbc_out/honda_fit_ex_2018_can_generated.cc filter=lfs diff=lfs merge=lfs -text
opendbc/honda_civic_hatchback_ex_2017_can_generated.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/toyota_nodsu_pt_generated.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/honda_crv_ex_2017_can_generated.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/gm_global_a_object.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/vw_mqb_2010.dbc filter=lfs diff=lfs merge=lfs -text
opendbc/honda_accord_2018_can_generated.dbc filter=lfs diff=lfs merge=lfs -text
common/transformations/transformations.cpp filter=lfs diff=lfs merge=lfs -text
common/transformations/transformations.so filter=lfs diff=lfs merge=lfs -text
common/kalman/simple_kalman_impl.so filter=lfs diff=lfs merge=lfs -text
common/kalman/simple_kalman_impl.cpp filter=lfs diff=lfs merge=lfs -text
common/params_pyx.cpp filter=lfs diff=lfs merge=lfs -text
common/params_pyx.so filter=lfs diff=lfs merge=lfs -text
common/clock.so filter=lfs diff=lfs merge=lfs -text
common/clock.cpp filter=lfs diff=lfs merge=lfs -text
models/dmonitoring_model_q.dlc filter=lfs diff=lfs merge=lfs -text
models/supercombo.thneed filter=lfs diff=lfs merge=lfs -text
cereal/visionipc/visionipc_pyx.cpp filter=lfs diff=lfs merge=lfs -text
cereal/visionipc/visionipc_pyx.so filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/legacy.capnp.c++ filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/legacy.capnp.h filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/car.capnp.h filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/log.capnp.h filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/car.capnp.c++ filter=lfs diff=lfs merge=lfs -text
cereal/gen/cpp/log.capnp.c++ filter=lfs diff=lfs merge=lfs -text
cereal/log.capnp filter=lfs diff=lfs merge=lfs -text
cereal/legacy.capnp filter=lfs diff=lfs merge=lfs -text
cereal/libcereal_shared.so filter=lfs diff=lfs merge=lfs -text
cereal/messaging/bridge filter=lfs diff=lfs merge=lfs -text
cereal/messaging/messaging_pyx.so filter=lfs diff=lfs merge=lfs -text
cereal/messaging/messaging_pyx.cpp filter=lfs diff=lfs merge=lfs -text
panda/python/__init__.py filter=lfs diff=lfs merge=lfs -text
panda/python/uds.py filter=lfs diff=lfs merge=lfs -text
panda/board/obj/panda.bin.signed filter=lfs diff=lfs merge=lfs -text
selfdrive/car/honda/values.py filter=lfs diff=lfs merge=lfs -text
selfdrive/car/hyundai/values.py filter=lfs diff=lfs merge=lfs -text
selfdrive/car/toyota/values.py filter=lfs diff=lfs merge=lfs -text
selfdrive/car/volkswagen/values.py filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/controlsd.py filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/events.py filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_solver_lat.c filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/libacados_ocp_solver_lat.so filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_ocp_solver_pyx.so filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_ocp_solver_pyx.c filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/libacados_ocp_solver_long.so filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_ocp_solver_pyx.so filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_solver_long.c filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_ocp_solver_pyx.c filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/cluster/fastcluster_dm.cpp filter=lfs diff=lfs merge=lfs -text
selfdrive/controls/lib/cluster/libfastcluster.so filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/soundd/_soundd filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/_ui filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/qt/libpython_helpers.so filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/qt/text filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/qt/text_aarch64 filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/qt/spinner_aarch64 filter=lfs diff=lfs merge=lfs -text
selfdrive/ui/qt/spinner filter=lfs diff=lfs merge=lfs -text
selfdrive/clocksd/clocksd filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/locationd filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/ubloxd filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/models/generated/libkf.so filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/models/generated/car.cpp filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/models/generated/live.cpp filter=lfs diff=lfs merge=lfs -text
selfdrive/locationd/locationd.cc filter=lfs diff=lfs merge=lfs -text
selfdrive/hardware/eon/updater filter=lfs diff=lfs merge=lfs -text
selfdrive/logcatd/logcatd filter=lfs diff=lfs merge=lfs -text
selfdrive/sensord/_sensord filter=lfs diff=lfs merge=lfs -text
selfdrive/boardd/boardd_api_impl.so filter=lfs diff=lfs merge=lfs -text
selfdrive/boardd/boardd_api_impl.cpp filter=lfs diff=lfs merge=lfs -text
selfdrive/boardd/boardd filter=lfs diff=lfs merge=lfs -text
selfdrive/boardd/boardd.cc filter=lfs diff=lfs merge=lfs -text
selfdrive/camerad/include/msmb_isp.h filter=lfs diff=lfs merge=lfs -text
selfdrive/camerad/cameras/camera_qcom.cc filter=lfs diff=lfs merge=lfs -text
selfdrive/camerad/cameras/sensor_i2c.h filter=lfs diff=lfs merge=lfs -text
selfdrive/camerad/camerad filter=lfs diff=lfs merge=lfs -text
selfdrive/loggerd/omx_encoder.cc filter=lfs diff=lfs merge=lfs -text
selfdrive/loggerd/include/msm_media_info.h filter=lfs diff=lfs merge=lfs -text
selfdrive/loggerd/bootlog filter=lfs diff=lfs merge=lfs -text
selfdrive/loggerd/loggerd filter=lfs diff=lfs merge=lfs -text
selfdrive/athena/athenad.py filter=lfs diff=lfs merge=lfs -text
selfdrive/proclogd/proclogd filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/_modeld filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/_dmonitoringmodeld filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/thneed/include/msm_kgsl.h filter=lfs diff=lfs merge=lfs -text
selfdrive/modeld/thneed/compile filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step1.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step3.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step9.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step14.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step11.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step5.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step17.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step15.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step10.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step0.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step12.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step8.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step2.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step4.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step18.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step6.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step16.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step7.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/training/step13.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-ExtraLight.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Bold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/opensans_regular.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Black.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Light.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Thin.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Regular.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/opensans_bold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/opensans_semibold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/fonts/Inter-Medium.ttf filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/img_map.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/assets.cc filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_shell.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_map.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_map_speed.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_monitoring.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_openpilot.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/offroad/icon_network.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/warning_immediate.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/refuse.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/engage.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/prompt_distracted.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/prompt.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/warning_soft.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/sounds/disengage.wav filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/img_spinner_track.png filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/img_driver_face.png filter=lfs diff=lfs merge=lfs -text
