[submodule "panda"]
	path = panda
	url = ../../martinl/panda.git
	branch = subaru-global-carstate
[submodule "opendbc"]
	path = opendbc
	url = ../../martinl/opendbc.git
	branch = subaru-global-2020
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../commaai/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
