.DS_Store
.tags
.ipynb_checkpoints
model2.png

*.pyc
.*.swp
.*.swo
.*.un~
*.o
*.d
*.so
*.a
*.clb
*.class
config.json
clcache

board/obj/
selfdrive/boardd/boardd
selfdrive/logcatd/logcatd
selfdrive/proclogd/proclogd
selfdrive/ui/ui
/src/

