altgraph==0.17.4
execnet==2.1.1
iniconfig==2.1.0
macholib==1.16.3
numpy==2.3.2
packaging==25.0
pillow==11.3.0
pip==25.1.1
pluggy==1.6.0
psutil==7.0.0
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.7
pytest==8.4.1
pytest-xdist==3.8.0
setuptools==80.9.0
