[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aenum = "*"
aiohttp = "*"
azure-cli-core = "*"
azure-common = "*"
azure-core = "*"
azure-nspkg = "~=3.0"
azure-storage-blob = "~=2.1"
azure-storage-common = "~=2.1"
azure-storage-nspkg = "~=3.1"
"backports.lzma" = "*"
boto = "*"
boto3 = "*"
control = "*"
coverage = "*"
datadog = "*"
dictdiffer = "*"
elasticsearch = "*"
fastcluster = "*"
Flask-Cors = "*"
Flask-SocketIO = "*"
ft4222 = "*"
GeoAlchemy2 = "*"
git-pylint-commit-hook = "*"
gunicorn = "*"
h5py = "*"
hexdump = "*"
hypothesis = "*"
imageio = "*"
inputs = "*"
ipykernel = "*"
ipython = "*"
joblib = "*"
json-logging-py = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-vim = "*"
keras_applications = "*"
lru-dict = "*"
markdown-it-py = "*"
matplotlib = "*"
mock = "*"
mpld3 = "*"
msgpack-python = "*"
mypy = "*"
myst-parser = "*"
networkx = "~=2.3"
numpy = "*"
opencv-python= "*"
osmium = "*"
parameterized = "*"
paramiko = "*"
pprofile = "*"
pre-commit = "*"
pycurl = "*"
pygame = "==2.0.0.dev8"
Pygments = "*"
pymongo = "*"
PyMySQL = "~=0.9"
pynmea2 = "*"
pyprof2calltree = "*"
pyproj = "*"
python-logstash = "*"
redis = "*"
reverse_geocoder = "*"
s2sphere = "*"
scikit-image = "*"
scipy = "*"
seaborn = "*"
Shapely = "*"
simplejson = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
SQLAlchemy = "*"
subprocess32 = "*"
tenacity = "*"
Werkzeug = "*"

[packages]
atomicwrites = "*"
casadi = "*"
cffi = "*"
crcmod = "*"
cryptography = "*"
Cython = "*"
flake8 = "*"
Flask = "*"
future-fstrings = "*"  # for acados
gunicorn = "*"
hexdump = "*"
Jinja2 = "*"
json-rpc = "*"
libusb1 = "*"
nose = "*"
numpy = "*"
onnx = "*"
onnxruntime = "*"
pillow = "*"
psutil = "*"
pycapnp = "==1.1.0"
pycryptodome = "*"
PyJWT = "*"
pylint = "*"
pyserial = "*"
python-dateutil = "*"
PyYAML = "*"
pyzmq = "*"
requests = "*"
scons = "*"
sentry-sdk = "*"
setproctitle = "*"
six = "*"
smbus2 = "*"
sympy = "!=1.6.1"
timezonefinder = "*"
tqdm = "*"
urllib3 = "*"
utm = "*"
websocket_client = "*"

[requires]
python_version = "3.8"
