Cython==0.24.1
bitstring==3.1.5
fastcluster==1.1.21
libusb1==1.5.0
pycapnp==0.5.9
pyzmq==15.4.0
raven==5.23.0
requests==2.10.0
setproctitle==1.1.10
simplejson==3.8.2
pyyaml==3.12
cffi==1.7.0
enum34==1.1.1
sympy==1.1.1
filterpy==1.0.0
smbus2==0.2.0
-e git+https://github.com/commaai/le_python.git#egg=Logentries
