<html>
  <head>
    <title>comma body</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
  </head>
  <body>
    <audio id="audio-player" controls></audio>
    <h1>CONTROL YOUR BODY</h1>
    <p id="robot_state"></p>
    <img id="bg" src="{{ url_for('video_feed') }}">

    <h1>Press wasd to move body</h1>
    <p id="move_str"></p>
    <p id="control_lag"></p>
    <button id="startRecordingButton">Start recording</button>
    <script src="main.js"></script>
  </body>
</html>
