<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.driverkit.transport.pci</key>
	<array>
		<dict>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000FFFF</string>
		</dict>
		<dict>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000FFFF</string>
		</dict>
	</array>
	<key>com.apple.developer.driverkit.allow-any-userclient-access</key>
	<true/>
	<key>com.apple.developer.driverkit</key>
	<true/>
</dict>
</plist>
