[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "1.4.4"
astroid = "2.4.2"
atomicwrites = "1.4.0"
certifi = "2020.4.5.2"
cffi = "1.14.0"
chardet = "3.0.4"
click = "7.1.2"
crcmod = "1.7"
cryptography = "2.9.2"
cysignals = "1.10.2"
Cython = "0.29.20"
distlib = "0.3.1"
filelock = "3.0.12"
flake8 = "3.8.3"
Flask = "1.1.2"
gunicorn = "20.0.4"
hexdump = "3.3"
idna = "2.9"
isort = "4.3.21"
itsdangerous = "1.1.0"
Jinja2 = "2.11.2"
json-rpc = "1.13.0"
lazy-object-proxy = "1.4.3"
libusb1 = "1.8"
Logentries = "0.82"
MarkupSafe = "1.1.1"
mccabe = "0.6.1"
mpmath = "1.1.0"
nose = "1.3.7"
numpy = "1.19.1"
Pillow = "7.1.2"
pipenv = "2020.6.2"
psutil = "5.7.0"
pycapnp = "0.6.4"
pycodestyle = "2.6.0"
pycparser = "2.20"
pycryptodome = "3.9.7"
pyflakes = "2.2.0"
PyJWT = "1.7.1"
pylint = "2.5.3"
pyserial = "3.4"
python-dateutil = "2.8.1"
PyYAML = "5.3.1"
pyzmq = "19.0.1"
raven = "6.10.0"
requests = "2.24.0"
scons = "3.1.2"
setproctitle = "1.1.10"
six = "1.15.0"
smbus2 = "0.3.0"
sympy = "1.6"
toml = "0.10.1"
tqdm = "4.46.1"
urllib3 = "1.25.9"
utm = "0.5.0"
virtualenv = "20.0.30"
virtualenv-clone = "0.5.4"
websocket-client = "0.57.0"
Werkzeug = "1.0.1"
wrapt = "1.12.1"

[requires]
python_version = "3.8"
