@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/MonumentExtended-Black.woff) format('woff');
  }
}
