__pycache__
.venv/
.venv-*/
.vscode
.DS_Store
notebooks
.*.swp
.*.swo
*.pyc
*.so
*.txt
build
!examples/tinychat/assets/cdn.jsdelivr.net/npm/purecss@3.0.0/build/
/dist
*.egg-info
/env
a.out
boxes.jpg
pandecode.dump
vertex.bin
recognize*
.idea
*.prof
extra/disassemblers/applegpu
extra/datasets/cifar-10-python.tar.gz
extra/datasets/librispeech/
extra/datasets/imagenet/
extra/datasets/wiki/
extra/datasets/kits19
extra/datasets/kits19/
extra/datasets/squad/
extra/datasets/img_align_celeba*
extra/datasets/open-images-v6-mlperf
extra/datasets/kits/
extra/datasets/COCO/
extra/datasets/audio*
extra/huggingface_onnx/models/*
extra/huggingface_onnx/*.yaml
extra/weights
venv
examples/**/net.*[js,json]
examples/**/*.safetensors
node_modules
package.json
package-lock.json
temp
*.csv
.coverage
coverage.xml
htmlcov
outputs_yolov8
wandb
model.safetensors
quickstart.py
.hypothesis
weights
*.lprof
comgr_*
*.pkl
site/
profile_stats
*.log
target
.mypy_cache
