<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<string>net</string>
	</array>
	<key>Version</key>
	<string>1.0.9</string>
	<key>net</key>
	<dict>
		<key>Inputs</key>
		<array>
			<string>image</string>
		</array>
		<key>Outputs</key>
		<array>
			<string>probs@output</string>
		</array>
		<key>Units</key>
		<array>
			<string>probs_tmp_0</string>
			<string>probs</string>
		</array>
		<key>Weights</key>
		<array>
			<string>model.espresso.weights</string>
			<string>net.additional.weights</string>
		</array>
		<key>image</key>
		<dict>
			<key>BatchSize</key>
			<integer>1</integer>
			<key>InputChannels</key>
			<integer>3</integer>
			<key>InputHeight</key>
			<integer>1</integer>
			<key>InputInterleave</key>
			<integer>1</integer>
			<key>InputPlaneStride</key>
			<integer>64</integer>
			<key>InputRowStride</key>
			<integer>64</integer>
			<key>InputType</key>
			<string>Float16</string>
			<key>InputWidth</key>
			<integer>1</integer>
		</dict>
		<key>probs</key>
		<dict>
			<key>Bottom</key>
			<string>probs_tmp_0</string>
			<key>Name</key>
			<string>probs</string>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>BiasScaleGroupData</key>
				<dict>
					<key>BiasCount</key>
					<integer>2</integer>
					<key>BiasIndex</key>
					<integer>1</integer>
					<key>BiasOffset</key>
					<integer>0</integer>
					<key>BiasType</key>
					<string>Float16</string>
				</dict>
			</dict>
			<key>Type</key>
			<string>GOC</string>
		</dict>
		<key>probs@output</key>
		<dict>
			<key>Bottom</key>
			<string>probs</string>
			<key>OutputInterleave</key>
			<integer>1</integer>
			<key>OutputPlaneStride</key>
			<integer>64</integer>
			<key>OutputRowStride</key>
			<integer>64</integer>
			<key>OutputType</key>
			<string>Float16</string>
		</dict>
		<key>probs_tmp_0</key>
		<dict>
			<key>Bottom</key>
			<string>image</string>
			<key>Name</key>
			<string>probs_tmp_0</string>
			<key>OutputChannels</key>
			<integer>2</integer>
			<key>OutputType</key>
			<string>Float16</string>
			<key>Params</key>
			<dict>
				<key>KernelGroupReuse</key>
				<false/>
				<key>KernelHeight</key>
				<integer>1</integer>
				<key>KernelIndex</key>
				<integer>0</integer>
				<key>KernelMode</key>
				<string>Dense</string>
				<key>KernelOffset</key>
				<integer>192</integer>
				<key>KernelType</key>
				<string>Float32</string>
				<key>KernelWidth</key>
				<integer>1</integer>
				<key>Step</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>Type</key>
				<string>Conv</string>
			</dict>
			<key>Type</key>
			<string>Conv</string>
		</dict>
	</dict>
</dict>
</plist>
